@model SalesDataProject.Models.UploadResultViewModel
@{
    ViewData["Title"] = "Change Record Type";
}
@if (TempData["messagesuccess"] != null)
{
    <div class="error-message collor" id="errorMessage">
        <p>@TempData["messagesuccess"]</p>
    </div>
}
<div class="card shadow-sm p-4 mb-4 mt-5 mb-3">
    <div class="d-flex justify-content-between">
        <h4 class="mb-3" style="color:red"><I>CHANGE RECORD TYPE</I></h4>
        <a href="@Url.Action("ManageUsers", "Auth")" class="">
            <button style="background-color:red;width:60px;color:white" type="submit" class="btn btn-success">Back</button>
        </a>
    </div>
    
    <form asp-action="ViewEmailRecords" method="post" class="form-inline">
        <div class="form-row d-flex gap-4">
            <div class="col-md-2 mb-3">
                <label for="UserName" class="font-weight-bold">Select User:</label>
                <select asp-for="UserName" class="form-select form-control-sm">
                    
                    @if (ViewBag.Users != null)
                    {
                        <option value="">--Select--</option>
                        foreach (var user in ViewBag.Users as SelectList)
                        {
                            <option value="@user.Value">@user.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="SelectedDate" class="font-weight-bold">Select Date:</label>
                <input id="SelectedDate" name="SelectedDate" class="form-select form-control-sm" type="date" placeholder="Choose a date" onfocus="this.showPicker()" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="recordType" class="font-weight-bold">Select Record Type:</label>
                <select id="recordType" name="RecordType" class="form-select form-control-sm">
                    <option value="">--Select--</option>
                    <option value="Blocked">Blocked Emails</option>
                    <option value="Clean">Clean Emails</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="Category" class="font-weight-bold">Select Category:</label>
                <select asp-for="Category" class="form-select form-control-sm">
                    <option value="">--Select--</option>
                    <option value="UNIVERSITY">University</option>
                    <option value="SME">SME</option>
                    <option value="CORPORATE">Corporate</option>
                    <option value="LAWFIRM">Law Firm</option>
                    <option value="PCT">PCT</option>
                </select>
            </div>
            

            <div class="col-md-4 mb-3 align-self-end">
                <button type="submit" class="btn btn-primary w-90">Search</button>
            </div>
            
            

        </div>
    </form>

    <!-- Display Blocked Customers -->
    <h5 class="text-secondary">Blocked Companies</h5>
    <form asp-action="UpdateCustomerStatus" method="post">

        <div id="blockedCustomersList">
            @if (Model.BlockCustomersEmailList != null && Model.BlockCustomersEmailList.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllBlocked" onclick="toggleSelectAll('selectAllBlocked', 'BlockedCustomerIds')" />
                                Select All
                            </th>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Company Name</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.BlockCustomersEmailList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="BlockedCustomerIds" value="@customer.ID" />
                                </td>
                                <td>@customer.ID</td>
                                <td>@customer.CATEGORY</td>
                                <td>@customer.COMPANY_NAME</td>
                                <td>@customer.CUSTOMER_CONTACT_NUMBER1</td>
                                <td>@customer.CUSTOMER_EMAIL</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No blocked emails found.</p>
            }
        </div>
        <button type="submit" class="btn btn-success mb-3">Change to Clean</button>
    </form>


    <!-- Display Clean Customers -->
    <h5 class="text-secondary">Clean Companies</h5>

    <form asp-action="UpdateCustomerStatus" method="post">
        <div id="cleanCustomersList">
            @if (Model.CleanCustomersEmailList != null && Model.CleanCustomersEmailList.Any())
            {
                <div style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllClean" onclick="toggleSelectAll('selectAllClean', 'CleanCustomerIds')" />
                                Select All
                            </th>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Company Name</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.CleanCustomersEmailList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="CleanCustomerIds" value="@customer.ID" />
                                </td>
                                <td>@customer.ID</td>
                                <td>@customer.CATEGORY</td>
                                <td>@customer.COMPANY_NAME</td>
                                <td>@customer.CUSTOMER_CONTACT_NUMBER1</td>
                                <td>@customer.CUSTOMER_EMAIL</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            }
            else
            {
                <p>No clean emails found.</p>
            }
        </div>
        <button type="submit" class="btn btn-warning">Change to Blocked</button>
    </form>


</div>
<script>
    function toggleSelectAll(masterCheckboxId, checkboxName) {
        var masterCheckbox = document.getElementById(masterCheckboxId);
        var checkboxes = document.getElementsByName(checkboxName);
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = masterCheckbox.checked;
        }
    }
</script>
<style>
    .error-message {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: red; /* Softer red for a less intense tone */
        color: black;
        padding: 10px 12px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: opacity 0.4s ease-out;
        opacity: 0.95;
    }

        .error-message.collor {
            background-color: greenyellow;
        }

    #categorySelectDropdown {
        border: 2px solid green;
    }
</style>

<script>
    // Automatically hide the error message after 5 seconds
    setTimeout(() => {
        const errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 2500);
</script>
